:root {
  --subtitle-color: #000;
  --title-color: #DB00FF;
  --background-color: #FF0070;
  --accent-color: #FF0070;
  --text-color:  #F1B2CE;
  --gap: 20px;
  --font-family: "IBM Plex Mono", Bold, "Regular", sans-serif;
  --background-image: url("../images/cover-image-dark.png");
  --shadow: #FF0070;
}

